<div class="user-profile-view">
  <span class="my-garage-text"> My Garage </span>
  <span class="add-link"><a href="/new-car">|Add|</a></span>
  <ul class="user-inventory">
    <%  if(currentUser.cars.length > 0) { %>
      <% currentUser.cars.forEach((oneCar) => { %>
        <li>
          <div class="cars-images"><img src="<%=oneCar.image%>"></div>
          <div class="cars-desc bg-primary">

          | <%= oneCar.year %>
            <%= oneCar.make %>
              <%= oneCar.model %>|

                  MPG: <%= oneCar.mpg %>
                    <br>
                    <%= oneCar.desc %>

                      <form method="get" action="/<%=oneCar._id%>/update">
                        <button class="pic btn btn-success"> Edit </button>
                      </form>

                      <form method="post" action="/<%=oneCar._id%>/delete">
                        <button class="car-button btn btn-danger"> Delete </button>
                      </form>
                      <% })}; %>
          </div>
        </li>
  </ul>
  <hr>
  <span class="my-trips-text"> My Trips </span>
<span class="add-link"><a href="/new-trip">|New|</a></span>
<ul class="user-trips">
  <%  if(currentUser.trips.length > 0) { %>
    <% currentUser.trips.forEach((oneTrip) => { %>
<li>
        <div class="trip-images"><img src="<%=oneTrip.image%>"></div>
        <div class="trip-desc">
          <i> <%= oneTrip.origin %></i> <br>
           <i> <%= oneTrip.destination %> </i><br>
            Distance: <%= oneTrip.distance %> <br>
              Used: <%= oneTrip.gas %> of gas <br>
                Spent: $<%= oneTrip.cost %> <br>

                    <form method="post" action="/<%=oneTrip._id%>/delete-trip">
                      <button class="trip-button btn btn-danger"> Delete </button>
                    </form>
                    <% })}; %>
        </div>
      </li>
      </ul>

</div>
<script>
  $('.car-button').on('click', () => {
    $('.cars-images').remove();
  });

  $('.trip-button').on('click', () => {
    $('.trip-images').remove();
  });
</script>
