<div class="user-profile-view">
  <span class="user-text"> My Cars </span>
  <span id="add-car-link"><a href="/new-car">|Add|</a></span>
  <ul>
    <%  if(currentUser.cars.length > 0) { %>
      <% currentUser.cars.forEach((oneCar) => { %>
        <li>
          <div class="cars-images"><img src="<%=oneCar.image%>"></div>
          <div class="cars-desc bg-primary">
            |
            <%= oneCar.year %>
            <%= oneCar.make %>
              <%= oneCar.model %>|

                  MPG: <%= oneCar.mpg %>
                    <br>
                    <%= oneCar.desc %>

                      <form method="get" action="/<%=oneCar._id%>/update">
                        <button class="pic btn btn-success"> Edit </button>
                      </form>

                      <form method="post" action="/<%=oneCar._id%>/delete">
                        <button class="pic btn btn-danger"> Delete </button>
                      </form>
                      <% })}; %>
          </div>
        </li>
  </ul>

  <%  if(currentUser.trips.length > 0) { %>
    <% currentUser.trips.forEach((oneTrip) => { %>
      <span class="user-text"> My Trips </span>
       <ul>
      <li>
        <div class="trips-images"></div>
        <div class="trips-desc">
          <%= oneTrip.origin %>
            <%= oneTrip.destination %>
              <%= oneTrip.distance %>
                <%= oneTrip.gas %>
                  <%= oneTrip.cost %>

                    <form method="post" action="/<%=oneTrip._id%>/delete">
                      <button class="trip btn btn-danger"> Delete </button>
                    </form>
                    <% })}; %>
        </div>
      </li>
      </ul>

</div>

<script>
  $('.pic').on('click', () => {
    $('.cars-images').remove();
  });

  $('.trip').on('click', () => {
    $('.trip-images').remove();
  });
</script>
